<!-- PUG Page Displaying User Information-->
html
	head
	body
		h1 Up and Running Sir
		p Some bullshit text
		ul 
		each info in data
			li First name: #{info.firstname} Last Name: #{info.lastname} Email: #{info.email}