<!-- PUG Page Displaying All User Information -->
html
	head
	body
		h1 Search Result 
		p This is the user you searched for
		ul 
		each info in data
			li User Name: #{info.userName}
			li First Name: #{info.firstName}
			li Last Name: #{info.lastName}
			li E-Mail: #{info.email}
			p 
