<!-- PUG Page Displaying All User Information -->
html
	head
	body
		h1 Search Result 
		p This is the user you searched for
		ul 
			li User Name: #{data[0].userName}
			li First Name: #{data[0].firstName}
			li Last Name: #{data[0].lastName}
			li E-Mail: #{data[0].email}
