<!-- PUG Page Displaying Search Bar-->
html
	head
	body
		h1 Search Engine
		p Who oh Who are the users? 
		div
			form(action="result" method="post")
				label(for="usersearch") Search Users:
				input(type="text" name="query")
				input(type="submit")
