doctype html
html(lang='en')
	head
		include includes/head.pug
		title Test Title 2
	body
		nav
			include includes/navbar.pug
		.background-about
			.about-text
				h1 Title of the text about us
				p
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid enim ipsa mollitia quibusdam explicabo sint similique quidem modi, accusantium. Minima eaque esse laboriosam culpa saepe dolorum eligendi a mollitia, molestiae.
				p
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid enim ipsa mollitia quibusdam explicabo sint similique quidem modi, accusantium. Minima eaque esse laboriosam culpa saepe dolorum eligendi a mollitia, molestiae.
				p
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid enim ipsa mollitia quibusdam explicabo sint similique quidem modi, accusantium. Minima eaque esse laboriosam culpa saepe dolorum eligendi a mollitia, molestiae.
				p
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid enim ipsa mollitia quibusdam explicabo sint similique quidem modi, accusantium. Minima eaque esse laboriosam culpa saepe dolorum eligendi a mollitia, molestiae.
