doctype html
html(lang='en')
	head
		script(src='/js/materialize.min.js')
		script(src='/js/jquery-3.1.1.min.js')
		script(src='/js/bundle/bundle.js')
		title Hello world 2
	body
		nav
			include includes/navbar.pug
		h1 shopping cart whohooooooooooo