doctype html
html(lang='en')
	head
		include includes/head.pug
		title Test Title
	body
		nav
			include includes/navbar.pug
		section
			.herobanner 
				h1 This is an Amazing banner 
			.carousel.carousel-slider.center(data-indicators='true')
				#model1.carousel-item.white-text
					h2 Mario
					p.white-text Nationality: 
					.carousel-fixed-item.center
						a.btn.waves-effect.white.grey-text.darken-text-2 More Information
						a.btn.waves-effect.white.grey-text.darken-text-2 Add To Cart
				#model2.carousel-item.white-text
					h2 Luigi
					p.white-text Nationality: 
					.carousel-fixed-item.center
						a.btn.waves-effect.white.grey-text.darken-text-2 More Information
						a.btn.waves-effect.white.grey-text.darken-text-2 Add To Cart
				#model3.carousel-item.white-text
					h2 Tina
					p.white-text Nationality: 
					.carousel-fixed-item.center
						a.btn.waves-effect.white.grey-text.darken-text-2 More Information
						a.btn.waves-effect.white.grey-text.darken-text-2 Add To Cart
				#model4.carousel-item.white-text
					h2 Turner
					p.white-text Nationality: 
					.carousel-fixed-item.center
						a.btn.waves-effect.white.grey-text.darken-text-2 More Information
						a.btn.waves-effect.white.grey-text.darken-text-2 Add To Cart
