.nav-wrapper
	if user
		a.brand-logo.right(href='/') Logo
		ul.left.hide-on-med-and-down
			li
				a(href='models') Models
			li
				a(href='products') Products
			li 
				a(href='request') Request 
	else 
		a.brand-logo.right(href='/') Logo
		ul.left.hide-on-med-and-down
			li
				a(href='about') About
			li
				a(href='questions') How Does It Work
			li
				a(href='register') Register