.img {
	max-width: 100%;
}

.nav-wrapper {
	background-color: #373737 ;
	li a{
		color:#DCD0C0;
	}
	img {
		height:30px;
	}
}


.background-home {
	background-image: url('/images/login_background.jpg');
	height:100vh;
	position:relative;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;

	.login-form {
		position:absolute;
		top:50%;
		left:50%;
		padding:15px;
		-ms-transform: translateX(-50%) translateY(-50%);
		-webkit-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%);
		z-index: 11; /* 1px higher than the overlay layer */
	}
}

.background-about {
	position:relative;
	height:100vh;
	background-image: url('/images/about_background.jpg');	
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;

	.about-text {
		text-align: center;
		color: #fff;
		margin: 40px auto;
		background: rgba(22,22,22, 0.5);
		width: 100%;
		max-width: 960px;
		border-radius: 5px;
		padding-bottom: 32px;
	}
}

.background-register {
	position:relative;
	height:100vh;
	background-image: url('/images/register_background.jpg');	
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	.register-form {
		position:absolute;
		top:50%;
		left:50%;
		padding:15px;
		-ms-transform: translateX(-50%) translateY(-50%);
		-webkit-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%);
		z-index: 11; /* 1px higher than the overlay layer */
	}
}

/* Models */ 
.carousel.carousel-slider.center { 
	.carousel-item {
		position: absolute;
		background-size: cover;
	}
	#model1 {
		background-image: url('/images/models_model1.jpg');
	}

	#model2 {
		background-image: url('/images/models_model2.jpg');
	}

	#model3 {
		background-image: url('/images/models_model3.jpeg');
	}

	#model4 {
		background-image: url('/images/models_model4.jpg');
	}
}

.product-gallery {
	
	.col-s4{ 
		display: inline-block;
		float: left;
		position:center;
	img {
		height: 350px;
		width: 350px;
	}
	}
}